doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 Index

        p 
            a(href=`/update-cobj?id=${objectId}`) Add/Update this table

        table
            tr 
                th Name 
                th Winner  
                th Looser
            each custom in data
                tr 
                    td #{custom.properties.name}
                    td #{custom.properties.winner}
                    td #{custom.properties.looser}
